/* 
===================================================================

_main.scss

===================================================================
*/

@mixin font-sans {
	font-family: "proxima-nova-extra-condensed-1", "proxima-nova-extra-condensed-2", sans-serif;
}

body {
	font: 100%/1.5 "skolar-1","skolar-2", georgia, serif;
	color: #111;
	}

#page {
	margin: 3em auto;
	width: 90%;
	max-width: 640px;
	}

h1, h2, h3, h4 {
	@include font-sans;
	}

h1 a, h2 a, h3 a { 
	text-decoration: none; 
	color: black; 
	}

img {
	max-width: 100%;
	height: auto;
}

header { 
	width: 100%;
	text-align: center;
	
	img.logo { 
		width: 96px; 
		height: 96px; 
		margin-bottom: 20px;
		}
	
	h1 { 
		font-size: 3em; /* 48/16 */
		line-height: 100%;
		text-transform: uppercase;
		letter-spacing: .01em;
		margin: 0;
		}
		h1 a { color: black; }
		h1 a:hover { text-decoration: none; }

	p {
		margin: 0;
	}

	nav {
		position: relative;
		margin-top: 20px;
		@include font-sans;
		ul { 
			padding-left: 0; 
			margin: 0.25em 0; 
			li { 
				display: inline; 
				padding-right: 20px;
				text-transform: uppercase;
				letter-spacing: 0.1em;
				a { color: #999999; }	
				&:last-child { padding-right: 0; }
			}
		}
	}
}
		
#content {
	clear: both;
	margin-top: 4em;
	}
	#content article {
		margin-bottom: 3em;
		img {
			max-width: 100%;
			height: auto;
		}
	}

	.meta a { color: #999999; }

input { 
	border: 1px solid black;
	padding: 3px 10px;
	background: #efefef;
}

input[type="submit"] {
	@include font-sans;
	background: black;
	color: white;
	border: 0;
	padding: 5px 10px;
}

#primary h1 { margin: 0; }

#pagination { margin-bottom: 1.5em; }

footer {
	border-top: 1px solid black;
	text-align: center;

	a { color: #999999; }
}

#archive ul { 
	padding: 0; 
	margin: 0 0 .7em; 
	
	li { 
		display: inline; 
		padding: 0 .35em 0 0; 

		&.year { 
			@include font-sans;
			font-weight: bold;
			color: #222;
			padding-right: .5em; 
			width: 40px;
			display: block;
			float: left;
		}

		&.no-archive { 
			color: white; 
			color: rgba(0,0,0,0); 
		}
	}
}

a { 
	color: #c63417; 
	text-decoration: none;

	&:hover, &:focus { 
		text-decoration: underline;
	}
}

embed, iframe, object {
	max-width: 100%;
	// height: auto;
}