/* 
===================================================================

_main.scss

===================================================================
*/

body {
	font: 100%/1.5 "skolar-1","skolar-2", georgia, serif;
	color: #111;
	}

#page {
	margin: 3em auto;
	width: 90%;
	max-width: 640px;
	}

h1, h2, h3, h4 {
	font-family: "proxima-nova-extra-condensed-1","proxima-nova-extra-condensed-2", sans-serif;
	}

h1 a, h2 a, h3 a { 
	text-decoration: none; 
	color: black; 
	}

header { 
	width: 100%;
	text-align: center;
	
	img.logo { 
		width: 96px; 
		height: 96px; 
		margin-bottom: 20px;
		}
	
	h1 { 
		font-size: 3em; /* 48/16 */
		line-height: 100%;
		text-transform: uppercase;
		letter-spacing: .01em;
		margin: 0;
		}
		h1 a { color: black; }
		h1 a:hover { text-decoration: none; }

	p {
		margin: 0;
	}

	nav {
		position: relative;
		margin-top: 20px;
		font-family: "proxima-nova-extra-condensed-1","proxima-nova-extra-condensed-2", sans-serif;
		ul { 
			padding-left: 0; 
			margin: 0.25em 0; 
			li { 
				display: inline; 
				padding-right: 20px;
				text-transform: uppercase;
				letter-spacing: 0.1em;
				a { color: #999999; }	
				&:last-child { padding-right: 0; }
			}
		}
	}
}
		
#content {
	clear: both;
	margin-top: 4em;
	}
	#content article {
		margin-bottom: 3em;
		}
	#content article img {
		max-width: 100%;
		height: auto;
		}

	.meta a { color: #999999; }

#primary h1 { margin: 0; }

#pagination { margin-bottom: 1.5em; }

#secondary {
	border-top: 1px solid #ccc;
	}
	#secondary ul { padding: 0; }
	#secondary ul li { 
		padding-right: 1.65em;
		display: inline; }

#secondary, footer {
	text-align: center;
	font-family: "proxima-nova-extra-condensed-1","proxima-nova-extra-condensed-2", sans-serif;
}

#secondary a, footer a { color: #999999; }

#archive ul { padding: 0; margin: 0 0 .5em; }
#archive ul li { display: inline; padding: 0; }
#archive ul li.year { 
	font-family: "proxima-nova-extra-condensed-1","proxima-nova-extra-condensed-2", sans-serif;
	padding-right: .5em; 
	width: 2em;
	display: block;
	float: left;
}

li.no-archive { color: white; color: rgba(0,0,0,0); }

a { 
	color: #c63417; 
	text-decoration: none;
	}
	a:hover, a:focus { 
		text-decoration: underline;
		}